Django>=4.2,<5.1
wagtail>=6.0,<6.1
## The following requirements were added by pip freeze:
anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
defusedxml==0.7.1
django-filter==23.5
django-modelcluster==6.3
django-permissionedforms==0.1
django-taggit==5.0.1
django-treebeard==4.7.1
djangorestframework==3.15.2
draftjs-exporter==5.0.0
et-xmlfile==1.1.0
filetype==1.2.0
html5lib==1.1
idna==3.7
l18n==2021.3
laces==0.1.1
numpy==2.1.0
openpyxl==3.1.5
pandas==2.2.2
pillow==10.4.0
pillow_heif==0.18.0
psycopg==3.2.1
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
telepath==0.3.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wagtail-modeladmin==2.0.0
webencodings==0.5.1
Willow==1.8.0
