{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% block custom_style %}
  <style>
    .card-img-overlay {
      background-color: rgba(0, 0, 0, 0.5); /* Темный фон при наведении */
      opacity: 0; /* Изначально описание скрыто */
      transition: opacity 0.5s; /* Плавное появление */
    }
    .card:hover .card-img-overlay {
      opacity: 1; /* Описание появляется при наведении */
    }
  </style>
{% endblock %}
{% block title %}
  {% translate 'Profile' %}
{% endblock %}
{% block title_suffix %}
  {{ user.last_name }} - {{ user.first_name }}
{% endblock %}

{% block content %}
  <div class="container mb-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          {% if user.student_profile.photo %}
            <img src="{{ user.student_profile.photo.url }}" alt="Профильное изображение" class="card-img-top" />
          {% else %}
            <img src="{% static 'images/default_image_profile.jpg' %}" alt="Профильное изображение" class="card-img-top" />
          {% endif %}
          <div class="card-body">
            <h1 class="card-title">{{ user.last_name }}</h1>
            <h2 class="card-subtitle mb-2 text-muted">{{ user.first_name }}</h2>
            <p class="card-text">{{ user.student_profile.about|default:''|safe }}</p>
            <a href="{% url 'profile-edit' %}" class="btn btn-primary me-2"><i class="fa-solid fa-user-pen"></i> Редактировать профиль</a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fas fa-map-marker-alt" style="padding-right: 1em;"></i>Город: {{ user.student_profile.city|default:'' }}
            </li>
            <li class="list-group-item">
              <i class="fas fa-school" style="padding-right: 0.45em;"></i>Школа: {{ user.student_profile.school|default:'Не указано' }}
            </li>
            <li class="list-group-item">
              <i class="fas fa-user-graduate" style="padding-right: 0.65em;"></i>Класс: {{ user.student_profile.classNumber|default:'Не указан' }}
            </li>
            <li class="list-group-item">
              {% if user.student_profile.sex %}
                <i class="fas fa-mars" style="padding-right: 0.7em;"></i>Мужской
              {% else %}
                <i class="fas fa-venus" style="padding-right: 0.7em;"></i>Женский
              {% endif %}
            </li>
            <li class="list-group-item">
              <i class="fas fa-clock" style="padding-right: 0.5em;"></i>Начало обучения: {{ user.student_profile.startYear|default:'Не указано' }}
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-8">
        <h1>Мои курсы</h1>
        {% if courses %}
          <!-- ========== Карусель курсов ========== -->
          <div class="container mt-5">
            <div id="olympiadCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for course in courses %}
                  <!-- Используем 'forloop.first' для активации первого элемента -->
                  <div class="carousel-item {% if forloop.first %}{% endif %}">
                    <div class="card-group">
                      {% for item in course %}
                        <div class="card">
                          <img src="{% static 'images/custom-logo.ico' %}" class="card-img" alt="{{ item.title }}" height="150" />
                          <div class="card-img-overlay">
                            {{ item }}
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
              </div>
              <!-- Контролы для перелистывания -->
              <button class="carousel-control-prev" type="button" data-bs-target="#olympiadCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущая</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#olympiadCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следущая</span>
              </button>
            </div>
          </div>
        {% else %}
          <p>У вас пока нет ни одного курса</p>
        {% endif %}

        <h1>Мои навыки</h1>
        <ul class="list-group">
          {% if softskills %}
            {% for softskill in softskills %}
              <li class="list-group-item">{{ softskill.softskill }} : {{ softskill.softSkillResult }}</li>
            {% endfor %}
          {% else %}
            <li class="list-group-item">Нет истории о навыках</li>
          {% endif %}
        </ul>

        <h1>Пройденные тесты</h1>
        <p style="font-size: 2em;">PLACEHOLDER</p>
        {% comment %} <ul class="list-group">
          <li class="list-group-item">
            {% lorem 1 b random %}
          </li>
          <li class="list-group-item">
            {% lorem 1 b random %}
          </li>
          <li class="list-group-item">
            {% lorem 1 b random %}
          </li>
        </ul> {% endcomment %}
      </div>
    </div>
  </div>
{% endblock %}
