{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% translate 'Registration Form' %}
{% endblock %}

{% block custom_style %}

{% endblock %}

{% block custom_js %}
  <script src="https://unpkg.com/@vkid/sdk@latest/dist-sdk/umd/index.js"></script>
{% endblock %}

{% block content %}
  <div class="container mt-5 mb-5">
    <h2>Форма регистрации</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Адрес эл.почты:</label>
        {{ form.email }}
        {% if form.email.errors %}
          <p class="help text-danger">{{ form.email.errors }}</p>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="first_name">Имя:</label>
        {{ form.first_name }}
      </div>
      <div class="form-group">
        <label for="last_name">Фамилия:</label>
        {{ form.last_name }}
      </div>
      <div class="form-group">
        <label for="city">Город:</label>
        {{ form.city }}
      </div>
      <div class="form-group">
        <label for="school">Школа:</label>
        {{ form.school }}
      </div>
      <div class="form-group">
        <label for="classNumber">Класс:</label>
        {{ form.classNumber }}
      </div>
      <div class="form-group">
        <label for="sex">Пол:</label>
        {{ form.sex }}
      </div>
      <div class="form-group">
        <label for="startYear">Год начала обучения:</label>
        {{ form.startYear }}
      </div>
      <div class="form-group">
        <label for="password1">Пароль:</label>
        {{ form.password1 }}
      </div>
      <div class="form-group">
        <label for="password2">Подтвердите пароль:</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
          <p class="help text-danger">{{ form.password2.errors }}</p>
        {% endif %}
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      <div id="VkIdSdkOneTap"></div>
    </form>
  </div>

  {% comment %} <script src="https://unpkg.com/@vkid/sdk@latest/dist-sdk/umd/index.js"></script> {% endcomment %}
  <script>
    {% comment %} const VKID = window.VKIDSDK
    const APP_ID = '51926892'
    const REDIRECT_URL = 'localhost{% url "profile" %}' {% endcomment %}
    
    const uuid = 'sdnuincidousncoidsncoiadscmoidacmoicm23iic2389239'
    
    // YGzmAA3jO6xUnGg0oqve
    // baeed0ebbaeed0ebbaeed0eb5fb9f68787bbaeebaeed0ebdca4e3ff0705a5273278fbb0
    // curl "https://api.vk.com/method/auth.exchangeSilentAuthToken" -d "v=5.131&token=silent_token&access_token=service_token&uuid=uuid"

    const appId = 51926892
    const redirectUri = 'mysite.com'
    const redirect_state = ''
    
    const query = `uuid=${uuid}&app_id=${appId}&response_type=silent_token&redirect_url=${redirectUri}&redirect_state=${redirect_state}`
    
    addr = `https://id.vk.com/auth?${query}`
    console.log(addr)

    {% comment %} location.assign(`https://id.vk.com/auth?${query}`) {% endcomment %}
    
    {% comment %} VKID.Config.set({
      // Идентификатор приложения.
      app: APP_ID,
      // Адрес для перехода после авторизации
      redirectUrl: REDIRECT_URL
    })
    
    // Creating a button instance.
    const oneTap = new VKID.OneTap()
    
    // Retrieving the container from the code.
    const container = document.getElementById('VkIdSdkOneTap')
    
    // Checking for the presence of the button in the code.
    if (container) {
      oneTap.render({
        container,
        scheme: 'light',
        lang: 0,
        skin: 'primary',
        styles: {
          width: 385,
          height: 50
        }
      })
    } // Удалить iframe можно с помощью oneTap.close(); {% endcomment %}
  </script>
{% endblock %}
